/* heading */

.layout .heading {
    margin-bottom: 45px;
}
.layout .heading .yellow-bar {
    width: 60px;
    height: 5px;
    background-color: #FFCA3C;
    border-radius: 1px;
    margin-top: 12px;
}
.layout .heading .title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.layout .heading .title-box .title {
    font-family: 'Helvetica-bold';
    font-size: 24px;
    color: #333333;
}

/* positions */

.layout .positions  {
    margin-bottom: 60px;
}
.layout .positions .body {
    display: flex;
    justify-content: center;
    height: max-content;
}
.layout .positions .body .position {
    max-width: 240px;
    width: 100%;
    height: 50px;
    background-color:#FFCA3C;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: #363535;
}
.layout .positions .body .position:nth-child(2){
margin: 0 16px 0 16px;
}
.layout .positions .body .position:hover {
    background-color: #FFCA3C;
    color: white;
    cursor: pointer;
}

/* Team members */

.layout .team-members .body {
  display: flex;
  justify-content: space-between;
}
.layout .team-members .body .member {
    max-width: 352px;
    width: 100%;
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 16px;
    overflow: hidden;
}
.layout .team-members .body .member:nth-child(2) {
    margin: 0 16px 0 16px;
}
.layout .team-members .body .member .image-box {
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.176) 0%,
        rgba(0, 0, 0, 0.125) 82%,
        rgba(0, 0, 0, 0.157) 100%
      ), url('../assets/images/member-girl.png');
    background-repeat: no-repeat;
  background-size: 100%;
  height: 262px;
   width: 320px;
   border: 5px 5px 0 0;
   margin-bottom: 16px;
}
.layout .team-members .body .member .text-box h1 {
    font-family: 'Helvetica-medium';
    font-size: 18px;
    color: #363535;
    margin-bottom: 12px;
}
.layout .team-members .body .member .text-box p {
    font-family: 'Helvetica-regular';
    font-size: 14px;
    color: #555454;
}
.layout .team-members .body .member .text-box p:last-child {
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 40px;
}
.layout .team-members .body .member .share {
    display: flex;
}
.layout .team-members .body .member .share .fb {
    background-image: url(../assets/icons/about-fb.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20px;
    height: 20px;
}
.layout .team-members .body .member .share .lnk {
    background-image: url(../assets/icons/about-Lnk.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20px;
    height: 20px;
    margin: 0 10px 0 10px;
}
.layout .team-members .body .member .share .twt {
    background-image: url(../assets/icons/about-twt.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20px;
    height: 20px;
}
.layout .team-members .body .member:nth-child(2) .image-box  {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.176) 0%,
        rgba(0, 0, 0, 0.125) 82%,
        rgba(0, 0, 0, 0.157) 100%
      ), url(../assets/images/member-man-1.png);
      background-repeat: no-repeat;
      background-size: 100%;
}
.layout .team-members .body .member:nth-child(3) .image-box  {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.176) 0%,
        rgba(0, 0, 0, 0.125) 82%,
        rgba(0, 0, 0, 0.157) 100%
      ), url(../assets/images/member-man-2.png);
      background-repeat: no-repeat;
      background-size: 100%;
}

/* Hovers */

.layout .team-members .body .member:hover .share .fb {
    background-image: url(../assets/icons/fb-hover.svg);
}
.layout .team-members .body .member:hover .share .lnk {
    background-image: url(../assets/icons/lnk-hover.svg);
}
.layout .team-members .body .member:hover .share .twt {
    background-image: url(../assets/icons/twt-hover.svg);
}
.layout .team-members .body .member:hover:nth-child(1) .image-box{
    background-image: linear-gradient(
        rgba(253, 219, 112, 0.3) 0%,
        rgba(0, 0, 0, 0.29) 82%,
        rgba(0, 0, 0, 0.11) 100%
      ), url('../assets/images/member-girl.png') ;
}
.layout .team-members .body .member:hover:nth-child(2) .image-box{
    background-image: linear-gradient(
        rgba(253, 219, 112, 0.3) 0%,
        rgba(0, 0, 0, 0.29) 82%,
        rgba(0, 0, 0, 0.11) 100%
      ), url('../assets/images/member-man-1.png') ;
}
.layout .team-members .body .member:hover:nth-child(3) .image-box{
    background-image: linear-gradient(
        rgba(253, 219, 112, 0.3) 0%,
        rgba(0, 0, 0, 0.29) 82%,
        rgba(0, 0, 0, 0.11) 100%
      ), url('../assets/images/member-man-2.png') ;
}
